
.post__page__sidebar__left{
    height: fit-content;
    flex: .25;
    margin-bottom: 1rem;
    text-align: center;
}
#post__page__sidebar__left__id{
    padding-inline: 0;
}
.post__page__sidebar__description{
    /* max-width: 300px; */
}
.post__page__view__full{
    font-weight: 600;
    font-size: .9rem;
}

.sidebar__profile__description{
    text-align: center;
}

.post__page__left__title{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.post__page__main{
    flex: .5;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}